@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #18121E ;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
   width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li{
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kanit', sans-serif;
}

li:hover {
    color: #ff9933;
}

#logo {
    width: 90px;
    height: auto;
}

#banner {
    background-image: url('https://irs.www.warnerbros.com/hero-banner-v2-tablet-jpeg/movies/media/browser/space_jam_a_new_legacy_throw_4320x1080.jpg');
    background-position: 112% 112%;
    background-size: cover;
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
    margin-top: 0px;
    position:relative; margin:0px;
}

.content {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.trailer {
    width: 55%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: 'Kanit', sans-serif;
    width: 150%;
}

.buttom {
    width: 200px;
    height: 60px;
    background-color: purple;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: solid plum;
    outline: none;
    margin-top: 25px;
}

.buttom:hover {
    background-color: #ff9933;
    color: black;
    border: solid black;
}

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kanit', sans-serif;
}

.card:hover {
    transform: translateY(-10px); 
	box-shadow: 0 6px 8px rgba(0,0,0,0.5); 
}

.banner-1 {
    background-image: url('https://ogimg.infoglobo.com.br/in/25108458-b2d-931/FT1086A/2168967.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg.png');
}

.banner-2 {
    background-image: url('https://pipocamoderna.com.br/storage/2021/03/space_jam_a_new_legacy_bugs_bunny.jpg');
}

.banner-3 {
    background-image: url('https://pipocamoderna.com.br/storage/2021/04/lola-bunny-space-jam-a-new-legacy.jpg');
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: white;
    font-family: 'Kanit', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 100%;        
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 110%;
    }

    #sinopse {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .buttom {
        width: 100%;
        margin-top: 30px;
        align-items: center;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 340px;
    }
}
